<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Atrakcje</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
</head>

<body>
    <div class="kontener">
        <header>
            <div class="tytul">
                BSKlandia
            </div>
        </header>

        <div class="left">
            <section>
                <h5>
                    <span class="belka">Menu Główne</span>
                </h5>
                <nav>
                    <ul>
                        <li><a href="index">Strona Główna</a></li>
                        <div sec:authorize="hasAuthority('USER')">
                            <li><a href="bilety">Bilety</a></li>
                        </div>
                        <li><a href="strefy">Atrakcje</a></li>
                        <li sec:authorize="isAnonymous()"><a href="login">Zaloguj się</a></li>
                    </ul>
                </nav>
            </section>
        </div>

        <div class="right">

            <div sec:authorize="isAuthenticated()">
                <p>Witka <span sec:authentication="name">User:)</span>. <a th:href="@{/logout}">Logout</a></p>
            </div>

            <p th:text="${'Strefa ' + zoneName + ':'}"></p>
            <ul th:each="entertainer : ${zoneEntertainers}">
                <li>
                    <p th:text="${entertainer.name}">Nazwa
                        <div sec:authorize="hasAuthority('ADMIN')">
                            <form th:action="@{'/atrakcje/remove/' + ${entertainer.id}}" method="get">
                                <input type="submit" value="Usun"/>
                            </form>
                        </div>
                    </p>
                    <p th:text="${entertainer.description}">Opis</p>

                    <div sec:authorize="hasAuthority('SERVICEMAN')">
                        <ul th:each="serviceWork : ${entertainer.serviceWorks}">
                            <li>
                                <p th:text="${serviceWork.date + ' ' + serviceWork.title + ' : ' + serviceWork.overseer.name} ">Tytul</p>
                                <p th:text="${serviceWork.description}">Tytul</p>
                            </li>
                        </ul>
                        <form th:action="@{/atrakcje/addwork}" th:object="${ServiceworkDTO}" method="post">
                            <label> Tytul: <input type="text" name="title"/> </label>
                            <label> Opis: <input type="text" name="description"/> </label>
                            <input type="text" name="entertainerId" th:value="${entertainer.id}" hidden="true" />
                            <div sec:authorize="isAuthenticated()">
                                <input type="text" name="userName" th:value="${#authentication.getPrincipal().getUsername()}" hidden="true" />
                            </div>
                            <input type="submit" value="Dodaj"/>
                        </form>
                    </div>
                </li>
            </ul>

            <div sec:authorize="hasAuthority('ADMIN')">
            <form th:action="@{/atrakcje}" th:object="${EntertainerDTO}" method="post">
                <label> Nazwa: <input type="text" name="name"/> </label>
                <label> Min. wzrost: <input type="number" name="minHeight"/> </label>
                <label> Opis: <input type="text" name="description"/> </label>
                <input type="number" name="zoneId" th:value="${zoneId}" hidden="true" />

                <input type="submit" value="Dodaj"/>
            </form>
            </div>
        </div>
        <footer>
            Designed by Patryk Szczepanik & Radosław Mul, kontakt:
            <a href="mailto:patryk.szczepanik1@gmail.com">patryk.szczepanik1@gmail.com</a>
            <a href="mailto:radoslaw.mul@gmail.com">radoslaw.mul@gmail.com</a>
        </footer>
    </div>
</body>
</html>
