<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Tickets page</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="kontener">
    <header>
        <div class="tytul">
            BSKlandia
        </div>
    </header>

    <div class="left">
        <section>
            <h5>
                <span class="belka">Menu Główne</span>
            </h5>
            <nav>
                <ul>
                    <li><a href="#">Strona Główna</a></li>
                    <div sec:authorize="hasAuthority('USER')">
                        <li><a href="bilety">Bilety</a></li>
                    </div>
                    <li><a href="strefy">Atrakcje</a></li>
                    <li sec:authorize="isAnonymous()"><a href="login">Zaloguj się</a></li>
                </ul>
            </nav>
        </section>
    </div>
    <div class="right">
        <div sec:authorize="isAuthenticated()">
            <p>Witka <span sec:authentication="name">User:)</span>. <a th:href="@{/logout}">Logout</a></p>
        </div>
    <div>
        <h2>Moje bilety</h2>
        <ul th:each="ticket : ${userTickets}">
            <li th:text="${ticket.date + ' ' + ticket.note + ' ' + ticket.type}">_bilety</li>
        </ul>
    </div>
    <div>
        <h2>Zarezerwuj bilet</h2>
        <form th:action="@{/bilety}" th:object="${Ticket}" method="post">
            <label> Notka: <input type="text" name="note"/> </label>
            <label> Data: <input type="date" name="date"/> </label>
            <label> Typ:
                <select name="type">
                    <option th:each="typ : ${T(com.rapan.bskproject2.commands.TicketType).values()}"
                            th:value="${typ}" th:text="${typ}"> _type </option>
                </select>
            </label>

            <input type="submit" value="Dodaj"/>
        </form>
    </div>
    </div>
    <footer>
        Designed by Patryk Szczepanik & Radosław Mul, kontakt:
        <a href="mailto:patryk.szczepanik1@gmail.com">patryk.szczepanik1@gmail.com</a>
        <a href="mailto:radoslaw.mul@gmail.com">radoslaw.mul@gmail.com</a>
    </footer>
</div>

</body>
</html>
