<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login page</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="kontener">
    <header>
        <div class="tytul">
            BSKlandia
        </div>
    </header>

    <div class="left">
        <section>
            <h5>
                <span class="belka">Menu Główne</span>
            </h5>
            <nav>
                <ul>
                    <li><a href="index">Strona Główna</a></li>
                    <div sec:authorize="hasAuthority('USER')">
                        <li><a href="bilety">Bilety</a></li>
                    </div>
                    <li><a href="strefy">Atrakcje</a></li>
                    <li><a href="login">Zaloguj się</a></li>
                </ul>
            </nav>
        </section>
    </div>
    <div class="right">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </div>
    <footer>
        Designed by Patryk Szczepanik & Radosław Mul, kontakt:
        <a href="mailto:patryk.szczepanik1@gmail.com">patryk.szczepanik1@gmail.com</a>
        <a href="mailto:radoslaw.mul@gmail.com">radoslaw.mul@gmail.com</a>
    </footer>
</div>

</body>
</html>
