<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Atrakcje</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'/>
</head>
<body>
<div class="kontener">
    <header>
        <div class="tytul">
            BSKlandia
        </div>
    </header>

    <div class="left">
        <section>
            <h5>
                <span class="belka">Menu Główne</span>
            </h5>
            <nav>
                <ul>
                    <li><a href="index">Strona Główna</a></li>
                    <div sec:authorize="hasAuthority('USER')">
                        <li><a href="bilety">Bilety</a></li>
                    </div>
                    <li><a href="strefy">Atrakcje</a></li>
                    <li sec:authorize="isAnonymous()"><a href="login">Zaloguj się</a></li>
                </ul>
            </nav>
        </section>
    </div>
    <div class="right">
        <div sec:authorize="isAuthenticated()">
            <p>Witka <span sec:authentication="name">User:)</span>. <a th:href="@{/logout}">Logout</a></p>
        </div>

        <h2>Nasze strefy:</h2>
        <ul th:each="zone : ${allZones}">
            <a th:href="@{http://localhost:8080/atrakcje(zoneId=${zone.id})}"><li id="${zone.id}" th:text="${zone.name}"> </li></a>
        </ul>
    </div>
    <footer>
        Designed by Patryk Szczepanik & Radosław Mul, kontakt:
        <a href="mailto:patryk.szczepanik1@gmail.com">patryk.szczepanik1@gmail.com</a>
        <a href="mailto:radoslaw.mul@gmail.com">radoslaw.mul@gmail.com</a>
    </footer>
</div>

</body>
</html>
